<%= form_for @student do |f| %>
  <% if @student.errors.any? %>
  <div id = "error_explanation" style="color:red;">
    <h2><%= pluralize(@student.errors.count, "error") %>
    prohibited
    this student from being saved:</h2>
  </div>
  <% end %>
	<p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
    <%= student.errormessage(:name) %>
  </p>

	<p>
    <%= f.label :memo %> <br>
    <%= f.text_area :memo %>
    <%= student.errormessage(:memo) %>

  <p>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all , :id, :status, include_blank: true %>
    <%= student.errormessage(:category_id) %>
  </p>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
