<h1>Listing students</h1>

<table>
	<tr>
    <th>Name</th>
    <th>memo</th>
    <th>status</th>
    <th colspan='3'></th>
  </tr>

	<% @students.each do |t| %>
    <tr>
      <th><%= t.name %></th>
      <th><%= t.memo %></th>
      <th><%= t.category.status %></th>
      <th><%= link_to 'Show', student_path(t) %></th>
      <th><%= link_to 'Edit', edit_student_path(t) %></th>
      <th><%= link_to 'Destroy', student_path(t),
          method: :delete, data: { confirm: 'Are you sure?' } %></th>
    </tr>
  <% end %>
</table>