<p>
	<strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @student.memo %>
</p>

<p>
  <strong>Category:</strong>
  <%= @student.category.status %>
</p>

<%= link_to 'Back', students_path %>
